@import "./variables.scss";
@import "./common.scss";

.banner,
.banner h2,
nav ul li a,
.no-product-list,
footer {
  @include flex(flex, center, center);
}

header {
  @include flex(flex, space-between, center);

  height: calc($height + $spacing-medium);

  img {
    height: calc($height - $spacing-small);
  }
}

.banner {
  height: 256px;
  margin-bottom: $height-spaced;
  background-size: cover;
  background-position: center;

  h2 {
    background-color: $white;
    height: calc($height + $spacing-small);
    width: 328px;
  }
}

nav {
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 78px;
    margin: $height-spaced 0;

    li {
      list-style-type: none;

      a {
        height: $height;
        width: 100%;
        background-color: $white-shadow;
        border-radius: calc($font-size-medium + $spacing-small);

        color: $secundary-color;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }
}

main.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $height-spaced 78px;

  .item {
    height: 176px;
    border-radius: calc($font-size-medium + $spacing-small);
    color: $white;
    padding: 16px;
    background-position: revert;
    background-size: cover;

    .item--name {
      font-size: calc($spacing-large / 2);
      font-weight: bold;
    }
    .item--color,
    .item--gender {
      font-size: $font-size-small;
    }
  }
}

.item:nth-child(9n + 1),
.item:nth-child(9n + 5),
.item:nth-child(9n + 9) {
  background-color: $yellow;
}
.item:nth-child(9n + 2),
.item:nth-child(9n + 6),
.item:nth-child(9n + 7) {
  background-color: $coral-red;
}
.item:nth-child(9n + 3),
.item:nth-child(9n + 4),
.item:nth-child(9n + 8) {
  background-color: $primary-color;
}

.no-product-list {
  height: calc(100vh - 256px);
  color: $primary-color;
}

footer {
  height: $height;
  background-color: $primary-color;
  color: $white;
  font-size: $font-size-small;
  margin-top: $height-spaced;
}

// Responsive
@media (max-width: 900px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .banner {
    height: 200px;
    font-size: 29px;
  }
  h2 {
    font-size: 18px;
  }
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  header .container {
    flex-direction: column;
  }
  header input {
    max-width: 100%;
  }
  ul li a {
    padding: 5px 10px;
  }
  .product-list {
    grid-template-columns: 1fr;
  }
}
