@import "./variables.scss";
@import "./common.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
}

.container {
  width: 1140px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;

  img {
    height: 40px;
  }

  input {
    border: 2px solid $primary-color;
    border-radius: 16px;
    color: $primary-color;
    font-size: 16px;
    height: 40px;
    padding: 0 16px;
    outline: none;

    &::placeholder {
      color: $primary-color;
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 256px;
  margin-bottom: 48px;
  background-size: cover;
  background-position: center;

  h2 {
    background-color: $white;
    color: $primary-color;
    font-size: 32px;
    border-radius: 32px;
    height: 64px;
    width: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

nav {
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 78px;

    li {
      list-style-type: none;

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 56px;
        width: 100%;
        background-color: $white-shadow;
        border-radius: 24px;

        color: $secunday-color;
        text-decoration: none;
        font-size: 24px;
      }
    }
  }
}

main.list {
  margin-top: 48px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 78px;

  .item {
    height: 176px;
    border-radius: 24px;
    color: $white;
    padding: 16px;
    background-position: revert;
    background-size: cover;

    .item--name {
      font-size: 18px;
      font-weight: bold;
    }
    .item--color,
    .item--gender {
      font-size: 14px;
    }
  }
}

.item:nth-child(9n + 1),
.item:nth-child(9n + 5),
.item:nth-child(9n + 9) {
  background-color: $yellow;
}
.item:nth-child(9n + 2),
.item:nth-child(9n + 6),
.item:nth-child(9n + 7) {
  background-color: $coral-red;
}
.item:nth-child(9n + 3),
.item:nth-child(9n + 4),
.item:nth-child(9n + 8) {
  background-color: $primary-color;
}

.no-list {
  display: flex;
  justify-content: center;
  color: $primary-color;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  background-color: $primary-color;
  color: $white;
  font-size: 14px;
  margin-top: 48px;
}

@media (max-width: 900px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .banner {
    height: 200px;
    font-size: 29px;
  }
  h2 {
    font-size: 18px;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  header .container {
    flex-direction: column;
  }
  header input {
    max-width: 100%;
  }
  ul li a {
    padding: 5px 10px;
  }
  .list {
    grid-template-columns: 1fr;
  }
}
