// Font
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap");
$font: "Ubuntu", sans-serif;

// Colors
$primary-color: #fc7e55;
$secunday-color: #474747;
$white: #ffffff;
$white-shadow: #bfbfbf;
$yellow: #fcc65a;
$coral-red: #ff472a;
