{{ >partials/header }}

<main class="container list">
  {{ #list }}
  <div class="item" style="background-image: url('images/{{ image }}')">
    <div class="item--name">{{ name }}</div>
    <div class="item--gender">{{ gender }}</div>
    <div class="item--color">{{ color }}</div>
  </div>
  {{ /list }}
</main>

{{>partials/footer }}
