{{ >partials/header }}

<main class="container list">
  {{ #list }}
  <div class="item" style="background-image: url('images/{{ image }}')">
    <div class="item--name">{{ name }}</div>
    <div class="item--gender">{{ gender }}</div>
    <div class="item--color">{{ color }}</div>
  </div>
  {{ /list }}
</main>

{{ ^list }}
<div class="container no-list">
  <h2>Não há animais disponíveis nestas condições</h2>
</div>
{{ /list }}

{{>partials/footer }}
