<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AdoCão</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" type="image/png" href="/images/favicon.svg" />
  </head>
  <body>
    <header class="container">
      <a href="/">
        <img src="images/branding/logo_primary.svg" />
      </a>
      <form method="GET" action="/search">
        <input type="search" name="search" placeholder="Pesquise por raça" />
      </form>
    </header>

    {{ #banner }}
    <section class="banner" style="background-image: url('images/{{ banner.background }}')">
      <h2>{{ banner.title }}</h2>
    </section>
    {{ /banner }}

    <nav class="container">
      <ul>
        <li>
          <a href="/" class="{{ #menu.all }}active{{ /menu.all }}">Todos</a>
        </li>
        <li>
          <a href="/male" class="{{ #menu.male }}active{{ /menu.male }}">Macho</a>
        </li>
        <li>
          <a href="/female" class="{{ #menu.female }}active{{ /menu.female }}">Femêa</a>
        </li>
      </ul>
    </nav>
